<div class="content">
  <%= partial "partials/inicio" %>
  <%= partial "partials/capacidades" %>
  <%= partial "partials/servicios" %>
  <%= partial "partials/socios" %>
  <%= partial "partials/contacto" %>
</div>